@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #367588;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em 200px;
}

.logo {
    font-size: 24px;
    color: #004242;
    font-weight: 900;
    padding: 8px;
}

.container {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.item {
    font-size: 18px;
    color: #004242;
    padding: 8px;
    text-decoration: none;
}

.awesome {
    background-color: #367588;
}

.main-text {
    font-size: 48px;
    color: #004242;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #264348;
    max-width: 25em;
    font-weight: 400;
}

button {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 8px 36px 8px 36px;
    color: #FFF;
    background-color: #006666;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}

.awesome {
    padding: 7em 13em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.left {
    flex-direction: column;
    gap: 10px;
}

.right {
    flex-shrink: 0;
    width: 50%;
}

.image {
    font-size: 18px;
    background-color: #264348;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 235px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }
  
  .image a {
    display: block;
    width: 100%;
    height: 100%;
  }

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #006666;
    text-align: center;
    padding: 48px;
}

.grid-image {
    height: 160px;
    width: 160px;
    border: 4px solid #367588;
    border-radius: 16px;
}

.subtext {
    font-size: 18px;
    color: #367588;
    font-weight: thinner;
    max-width: 170px;
    text-align: center;
    margin-top: 8px;
}

.grids {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.random {
    margin-bottom: 120px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b1b5bb;
    padding: 8em 0em 6em 0em;
    align-items: center;
}

.quote-text {
    text-align: left;
    padding: 0;
    font-size: 36px;
    font-weight: 100;
    color: #367588;
    font-style: italic;
    max-width: 800px;
    margin-left: 28px;
}

.author {
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    color: 	#367588;
    margin-left: 530px;
    margin-bottom: 4px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.1em 13em 6.6em 13em;
}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f4f4f;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.bottom-button {
    border: 3px solid #FFF;
    padding: 6px 32px;
    margin-left: 16px;
    background-color: #2f4f4f;
}

.time {
    font-size: 24px;
    color: #FFF;
    font-weight: bolder;
}

.product {
    font-size: 18px;
    font-weight: 400;
    color: #e3e0e0;
}

footer {
    font-size: 18px;
    text-align: center;
    background-color: #264348;
    color: #5d8aa8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0em;
}

.copyright {
    margin-left: 48px;
}
